
@font-face {
    font-family: 'rawline';
    src: url('rawline-300-.eot');
    src: url('rawline-300-.eot?#iefix') format('embedded-opentype'),
         url('rawline-300.woff2') format('woff2'),
         url('rawline-300.woff') format('woff'),
         url('rawline-300.ttf') format('truetype'),
         url('rawline-300.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'rawline';
    src: url('rawline-600.eot');
    src: url('rawline-600.eot?#iefix') format('embedded-opentype'),
         url('rawline-600.woff2') format('woff2'),
         url('rawline-600.woff') format('woff'),
         url('rawline-600.ttf') format('truetype'),
         url('rawline-600.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'rawline';
    src: url('rawline-700.eot');
    src: url('rawline-700.eot?#iefix') format('embedded-opentype'),
         url('rawline-700.woff2') format('woff2'),
         url('rawline-700.woff') format('woff'),
         url('rawline-700.ttf') format('truetype'),
         url('rawline-700.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}