/*
* Barracuda Page Style CSS
* by TG Studio
*/

/* Basics */

html {
    font-size: 20px;
}
body {
    font-family: forma-djr-text, sans-serif; 
    font-weight: 400;
    font-style: normal;
    color: #1b5e53;
}
img, video {
    width: 100%;
}

/* Layout */

.container {
    max-width: 1248px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.narrow-container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* Hero */

.native-hero {
    background-size: cover;
    background-position: center center;
}
h1, h2 {
    font-family: forma-djr-display, sans-serif;
    font-weight: 700;
    font-style: normal;
}
h1 {
    color: #00a88f;
    font-size: 92px;
    margin-top: 64px;
}
h2 {
    font-size: 64px;
    color: #00a88f;
}
.native-hero h3 {
    font-size: 30px;
    margin-bottom: 24px;
}
.native-hero p {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
}
h3 {
    font-weight: 700;
}
.native-title {
    margin-bottom: 48px;
}
.native-visual {
    margin-bottom: -10vw;
}
.post-visual-margin {
    margin-top: 10vw;
}

/* Infographic */

.sixty {
    width: 59.99%;
    align-items: space-between;
    border-right: 3px solid #00a88f;
    border-bottom: 3px solid #00a88f;
}
.two-thirds {
    border-right: 3px solid #00a88f;
}
.fourty {
    width: 39.99%;
    align-items: space-between;
    border-bottom: 3px solid #00a88f;
}
.infographic-box {
    padding: 24px;
    border-top: 3px solid #00a88f;
}
.health-disclaimer {
    border: 3px solid #00a88f;
    font-size: 48px;
    padding: 32px;
    margin-top: 48px;
}
.health-disclaimer p {
    text-align: center;
    margin: 0 auto;
}
.native-signature .container .health-disclaimer p {
  font-size: 48px;
  padding: 0px;
}

.native-signature {
    padding-bottom: 50px;
}
.native-signature .container {
    min-height: 120px;
    padding: 0px 50px;
}
.native-signature .tg-studio {
    width: 70px;
    height: 90px;
    object-fit: contain;
}
.native-signature .partner-logo {
  height: 90px;
  width: auto;
  object-fit: contain;
}
.native-signature img {
    margin: 30px
}
.native-signature .container p {
    padding: 10px;
    opacity: .7;
    font-weight: 500;
}

/* The Quiz */

.quiz-container {
    border: 3px solid #00a88f;
    padding: 64px;
    margin: 64px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    color: #333;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .quiz-container .btn {
    margin: 20px auto 0;
  }
  
  .slide { display: none; }
  .slide.active { display: block; }
  
  .answer {
    position: relative;
    top: 0;
    margin: 25px;
    margin-left: 0px;
    padding-left: 15px;
    transition: .3s;
    -webkit-transition: .3s;
  }
  .answer-text {
    word-wrap: break-word;
    text-transform: none;
  }
  
  .answer:hover {
    top: -5px;
    cursor: pointer;
  }
  
  .answer:hover h4 {
    color: #00a88f;
  }
  
  .answer h4 {
    margin: 15px 0 0 0;
    font-size: 20px;
    transition: color .3s;
    -webkit-transition: color .3s;
  }
  
  .progress-bar {
    margin-bottom: -20px;
  }
  
  .progress-bar i {
    font-size: 16px;
    color: #333;
  }
  
  .progress-bar .fa-circle {
    color: #333;
  }
  
  .quiz-container .share {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: #333;
    color: white;
    margin: 10px 5px;
    top: 0;
    position: relative;
  }
  .share i {
    line-height: 50px !important;
  }
  .share {
    text-align: center;
  }
  
  .quiz-container .share:hover {
    top: -5px;
  }
  
  .quiz-container .fb {
    background: #485b96;
  }
  
  .quiz-container .tw {
    background: #00aced;
  }
  .question {
    margin-top: 0px;
    font-size: 24px;
  }
  .answer {
    border-left: 2px solid #666;
  }

  .gradient-bg {
    background-size: cover;
  }
  .cta {
    padding: 8px 24px;
    background-color: #00a88f;
    color: white;
    font-size: 14px;
    padding-top: 10px;
    cursor: pointer;
  }
.no-pad-cont {
  padding: 0px;
}
.article-embed {
  margin-top: 36px;
}
.article-embed > .half {
  padding: 30px;
}
.article-preview h2 {
  font-size: 48px;
}
.shoo-top {
  margin-top: 36px;
}
.no-pad-cont > h2, .no-pad-cont > p {
  padding: 0px 16px;
}
.article-embed:last-child {
  margin-bottom: 36px;
}
.aspirin img {
  width: 69%;
  height: auto;
  position: relative;
  margin: 0 auto;
  margin-bottom: 8px;
}
.aspirin {
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #00a88f;
  border-bottom: 1px solid #00a88f;
  font-size: 18px;
  position: relative;
  margin-bottom: 24px;
}
.aspirin p:last-child {
  font-weight: 700;
  padding-left: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 1023px) {
  .flex-responsive {
    width: 100%;
  }
  .native-title, .container, .article-embed > .half {
    padding: 16px;
  }
  .sixty, .forty, .two-thirds {
    border-right: none;
  }
  .sixty {
    border-bottom: none;
  }
  .no-top-border-mob {
    border-top: none;
  }
  h1 {
    font-size: 64px;
    margin-top: 24px;
  }
  h2, .article-preview h2 {
    font-size: 32px;
  }
  .health-disclaimer {
    margin-bottom: 24px;
  }
  .quiz-container {
    margin-top: 16px;
    padding: 36px;
  }
  .article-image {
    order: 1;
  }
  .article-preview {
    order: 2;
  }
  .native-signature .center {
    flex-wrap: wrap;
  }
}