
* {
  box-sizing: border-box;
}
:root {
  --primary: #d7007f; 
  --gray: #252122;
  --black:#000;
  --deepgrey:#1a1a1a;
  --white: #fff;
  --body-font:orpheuspro, serif;
	--heading-font: ivymode, sans-serif;
	--default-font:orpheuspro, serif;
	--rock-font: 'Darker Grotesque', sans-serif;

}
body{
  font-family: var(--body-font);
  color:var(--black);
  font-size:18px;
  margin:0;
  padding:0;
}

.font-light{
	font-weight:200;
}
.heading-font{
	font-family: var(--heading-font);
}
.rock-font{
	font-family: var(--rock-font);font-size: 22px;
}

h1, h2, h3, h4 {
	font-family: var(--heading-font);	
	
}
h2 {
    text-transform: uppercase;
    font-size: 3em;
}
h5 {
    font-size: 24px;
}
.btn {
    color: var(--white);
    background-color: var(--primary);
    font-size: 18px;
    font-weight: 600;
    border-radius: 50%;
    padding: 0;
    width: 70px;
    height: 70px;
	line-height:70px;
	-webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}
.btn:hover {
	-webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}
.link {
    color: #000;

}
.link:hover{color:var(--primary);}
.link2 {
    color: #fff;

}
.link2:hover{color:var(--primary);}
.link .fa {
    margin-left: 0.6rem;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#nav {
  transition: margin-left .5s;
  padding: 16px;
  font-size: 2em;
}

.first-section{
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}
.img-box {
    width: 100%;
    overflow: hidden;
}
h1.title {
    font-size:7.5em;
}

h1.title span {
    font-size: 24px;
    text-transform: uppercase;
    max-width: 200px;
	font-family: var(--body-font);
	font-weight: normal;
}
.banner-text{
    max-width: 300px;
}
.top-btn {
    bottom: -15px;
    right: 10%;
}
.second-section .slide-main {
    width: 100%;

	background-color:var(--deepgrey);
	overflow: hidden;
	min-height:775px;
	position: relative;
}
.second-section .slide-main .slide1{
		background-image: url(../images/slide-bg1.png?v=2), url(../images/slide-bg2.png?v=2), url(../images/slide-bg3.png?v=2), url(../images/slide-bg4.png?v=2);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position:top 0% left 0%, top 45% left 28%, top 45% right 28% , bottom 0% right 0%;
}
.second-section .slide-main .slide2{
		background-image: url(../images/bg1.png?v=2), url(../images/bg2.png?v=2), url(../images/bg3.png?v=2), url(../images/bg4.png?v=2);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position:top 0% left 0%, top 45% left 28%, top 45% right 28% , bottom 0% right 0%;
}

.second-section .slide-main .slide3{
		background-image: url(../images/bg1-3.png?v=2), url(../images/bg2-3.png?v=2), url(../images/bg3-3.png?v=2), url(../images/bg4-3.png?v=2);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position:top 0% left 0%, top 45% left 28%, top 45% right 28% , bottom 0% right 0%;
}

.second-section .slide-main .slide4{
		background-image: url(../images/bg1-4.png?v=2), url(../images/bg2-4.png?v=2), url(../images/bg3-4.png?v=2), url(../images/bg4-4.png?v=2);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position:top 0% left 0%, top 45% left 28%, top 45% right 28% , bottom 0% right 0%;
}
.arrow-text{ 
    position: absolute;
	bottom: 8%;
    top: auto;
    right: auto;
    left: 21%;
    text-transform: uppercase;
    color: var(--white);
	width: 10%;
	font-family: var(--rock-font);
	font-weight: normal;
	font-size: 22px;
}
.second-section .slick-slider, .second-section .slick-track{
    height:100%;
}
.second-section .slick-list {
    padding: 0 !important;
	height:100vh;
}
.slide{
	 color: var(--white);
}
.second-section .slide-text {
    position: relative;
    top: 40%;
    display: inline-block;
}
.slick-arrow {
    bottom: 10%;
    top: auto;
    z-index: 9;
}
.small-has{
    display: flex;
    align-items: center;
    justify-content: center;
	font-family: var(--rock-font);
	font-weight: normal;
}
.small-has img{ margin-left:5px;}
button.slick-prev {
    left: 10%;
}

button.slick-next {
    right: auto;
    left: 15%;
	
}

.slick-arrow::before {
    font-size: 32px;
    opacity: 1;
  
}
 .video-section{
	-webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;    
	
}  
.fourth-section, .third-section {
    background: #f0f0f0;
}
.fourth-section{ cursor: url(../images/cursor-img.png), auto; }

.btm-table{
    border-top: 1px solid #ccc;	
	-webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.btm-table.last{
    border-bottom: 1px solid #ccc;
}
.black-bg-text {
    background: var(--black);
    color: var(--white);
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.fourth-section .btm-table .right-section{	
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
	
}
.fourth-section .btm-table:hover .right-section {
	-webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}
.fourth-section .btm-table .left-section {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
	
}
.fourth-section .btm-table:hover .left-section {
	-webkit-transform: translateX(-15px);
    transform: translateX(-15px);
}
/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.black-bg-text p {
    transform: rotate(15deg);
    font-size: 12px;
	font-family: var(--rock-font);
}
.pogledaj-first-img{ width: 380px;}

/*-----*/
.fifth-section{
   background: var(--deepgrey);
   color: var(--white);
}
.fifth-section img {
    width: 100%;
}

.page-footer{
   background: var(--deepgrey);
    border-top: 1px solid #333;
	 color: var(--white);
}
.btm-logo img{ width: 100%;}
.bg-text p {
    font-size: 96px;
    white-space: nowrap;
    line-height: 76px;
    color: rgba(23, 23, 23, 0.2);
}

.bg-text {
    overflow-x: hidden;
    margin-top: -70px;
	    height:183px;
}
.fifth-section .slide-main .slick-list {
    padding: 0 !important;
}
.fifth-section .slide-main {
    background: no-repeat;
	overflow: visible;
	width:100%;
}
.fifth-section .slick-arrow{
   bottom:-50px;
   
}
.fifth-section button.slick-prev {
    left: 0;
}
.fifth-section button.slick-next {
    right: auto;
    left: 5%;
}
.footer-text {
    max-width: 550px;
    margin: 0px auto;	
}
.post-img{
	top: -60px;
    left: -45px;
}
.hand-pointer{
	left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    top: 0;
    bottom: 0;
}
.marquee-block {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	--marquee-width: 100vw;
	--offset: 20vw;
	position:relative;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	--item-font-size: 10vw;
	counter-reset: menu;
	height:20vh;
}
.marquee-block2 {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position:relative;
	--marquee-width: 100vw;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	--item-font-size: 10vw;
	counter-reset: menu;
	margin-top: 4.5em;
}


/* Make sure 3 items are visible in the viewport by setting suitable font size. */

.marquee, .marquee2 {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--marquee-width);
	overflow: hidden;
	pointer-events: none;
	mix-blend-mode: color-burn;
}

.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 5s linear infinite;
	animation-play-state: paused;
	opacity: 0;
	transition: opacity 0.1s;
}

 .marquee .marquee__inner, .marquee2 .marquee__inner {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;
}

.marquee span, .marquee2 span {
	text-align: center;
}


.marquee span, .marquee2 span {
	white-space: nowrap;
	font-size:76px;
	padding: 0 1vw;
	line-height: 1.15;
    color: rgba(23, 23, 23, 0.2);
}



@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}
@keyframes marquee2 {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}
.z-index-1{
    position: relative;
    z-index: 1;
}
.z-index-0{
    position: relative;
    z-index: 0;
}
.arrow-left{margin: 30px 0 0 16px;}
.pogledaj{font-size:22px;}
.pogledaj .arrow-black{display:block; margin-top:11px;}
.pogledaj:hover .arrow-black{display:none;}
.pogledaj:hover .arrow-pink{display:block;}
.pogledaj .arrow-pink{display:none; margin-top:11px;}
