/*
* CSS
* by TG Studio Marijan
*/

/* Colors */

:root {
    --highlight-color: 0, 75, 69;
}

/* Typography */

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

h2,
h3 {
    color: #004b45;
}

/* HEADER */

header {
    padding-top: 40px;
    padding-bottom: 20px;
    /* margin-top: 70px; */
}



.article .date {
    font-size: 0.6rem;
    padding-top: 0.3rem;
    opacity: .7;
    padding-left: 10px;
}

.article .small-p {
    margin-top: 7px;
    font-size: 0.75rem;
    margin-bottom: 17px;
}

a {
    border: 1px solid black;
}

/* SECTION */

section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.article-author .plus-font {
    font-size: 0.7rem;
}

#plus-img {
    width: 1.6rem;
    height: 1.6rem;
}

/* INFOGRAPH */

.info-title {
    letter-spacing: 2px;
    border-bottom: 2px solid #004b45;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    color: #004b45;
    font-weight: 700;
    text-transform: uppercase;
}

h1.info-title {
    text-transform: none;
    letter-spacing: -2px;
    font-size: 5.5rem;
    /* letter-spacing: normal;
    font-size: 4rem; */
}

.bg-color {
    background-color: #f3f8fc;
}

.container .sixth {
    padding: 0.6rem;
}

.sixths-parent {
    padding: 0.6rem;
}

.container .sixth .full {
    border: 2px solid #004b45;
    padding: 0.6rem;
    color: #004b45;

}

.container .sixth h2 {
    color: #004b45;
    font-size: 1.8rem;
    margin-bottom: 0.3rem;

}

.izvor {
    font-size: 0.50rem;
    border: none;
}

.izvor a {
    text-decoration: underline;
}

.sixth .full .smaller-font {
    font-size: 1.7rem;
}




/* Kviz */

.answer-border {
    border: 2px solid #004b45;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 25px;
}

.white-bg {
    background-color: white;
}

/* Button */

.button-24 {
    background: #004b45;
    border: 1px solid #004b45;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin-top: 12px;
}

a:hover .button-24 {
    background: #006d67;
}

@media screen and (max-width: 1024px) {
    .sixths-parent .sixth {
        width: 33.33%;
    }
}

@media screen and (max-width: 767px) {
    .sixths-parent .sixth {
        width: 49.99%;
    }

    section {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .article .small-p {
        margin-top: 7px;
        font-size: 0.9rem;
        opacity: 0.9;
    }

    .izvor {
        font-size: 0.60rem;
        border: none;
    }

    .sixth .full .smaller-font {
        font-size: 1.8rem;
    }

    h1.info-title {
        font-size: 3.7rem;
    }

    header {
        padding-top: 20px;
        padding-bottom: 0px;
    }

}

.some-padding {
    margin: 1.2rem;
    margin-top: 0rem;
}



/* Quiz */

.quiz-container {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    padding: 48px;
    padding-bottom: 64px;
    margin-bottom: 20px;
    border: 2px solid #004b45;
    color: #004b45;
    z-index: 5;
    position: relative;
}

.slide {
    display: none;
    min-height: 360px;
    align-content: space-between;
}

.slide.active {
    display: flex;
}

.quiz-container p {
    font-size: 18px;
    font-size: 0.9rem;
    line-height: 1.3em;
    margin-bottom: 8px;
}

.question {
    width: 100%;
    font-size: 32px;
    font-size: 1.6rem;
    margin-bottom: 16px;
}

.answer-text {
    padding-bottom: 4px;
}

.answers {
    width: 100%;
}

.answer,
.restart {
    margin-bottom: 16px;
    padding: 8px 24px;
    text-align: center;
    width: auto;
    width: auto;
    cursor: pointer;
    font-size: 18px;
    font-size: 0.9rem;
    font-weight: 700;
    border: 1px solid;
    border-radius: 3px;
    margin-right: 16px;
    position: relative;
    color: #004b45;
    top: 0px;
    background-color: rgba(0, 75, 69, 0);
}

.answer:hover,
.restart:hover {
    top: -2px;
    background-color: rgba(0, 75, 69, 0.1);
}

.progress-bar {
    position: absolute;
    width: 100%;
    height: 16px;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 75, 69, 0.1);
}

.progress-indicator {
    width: 1%;
    height: 16px;
    background-color: rgba(0, 75, 69, 0.25);
}

@media screen and (max-width: 767px) {
    .quiz-container {
        padding: 24px;
    }

    .question {
        font-size: 24px;
        font-size: 1.2rem;
    }

    .answer,
    .restart {
        margin-bottom: 8px;
        padding: 4px 8px;
        font-size: 14px;
        font-size: 0.7rem;
        margin-right: 8px;
    }

    .slide {
        min-height: auto;
    }

    .article-slider .arrow, .gallery .arrow {
        width: 12px;
        height: 12px;
    }

    .big-article-parent .container {
        padding: 0px;
    }

    .big-article-parent .container .featured-article {
        border: none;
    }

    footer .logo-line img {
        height: 60px;
        width: 80px;
        margin: 16px;

    }
}

.featured-article h2 {
    font-size: 1.5rem;
}

@media screen and (max-width: 470px) {

    footer .logo-line img {
        height: 60px;
        width: 55px;
        margin: 16px 10px;
    }

}

.quiz-section .info-title {
    padding-bottom: 0px;
    border-bottom: none;
}