/*
* Barracuda Page Style CSS
* by TG Studio
*/

/* Basics */

.barracuda .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.barracuda .full {
    width: 100%;
}
.barracuda .white-space {
    margin-top: 25px;
    margin-bottom: 25px;
}
.barracuda .container {
    max-width: 1280px;
}
.barracuda .animate {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
.barracuda .faded {
    opacity: 0.5;
}
.barracuda .faded:hover {
    opacity: 0.75;
}
.barracuda .center-text {
    text-align: center;
}



/* Hero */

.barracuda {
    margin-top: -40px;
    padding-bottom: 30px;
    max-width: 100%;
    overflow-x: hidden;
}
.native-hero {
    overflow: hidden;
    position: relative;
    margin-bottom: 0px;
}
.native-title {
    padding: 25px;
    color: white;
    position: absolute;
    background:rgba(0,0,0,0.5);
    bottom: 1%;
    width: 100%;
    height: 30%;
    z-index: 5;
}
.naslov{
    height:100px;
    margin: 0 auto;
}
.native-hero .native-hero-background {
    width: 100%;
    z-index: 3;
    position: relative;
}
.barracuda .single-head .title {
    margin-top: 0px;
}


.native-title h1 {
    font-size: 90px;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    font-family: 'Frank Ruhl Libre light';
}

.native-title h2 {
    font-size: 40px;
    padding: 5px 10px;    
    text-align: center;

    padding-top: 8px;
}

.barracuda .article-image {
    padding: 50px;
    position: relative;
}
.barracuda .article-image img {
    width: 100%;
    height: auto;
    z-index: 3;
    position: relative;
}
.barracuda .single-head .title {
    font-size: 36px;
    line-height: 46px;
}
.barracuda .article-image:before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    right: -50px;
    top: -50px;
    background-image: url("img/list.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.45s ease-in-out;
}
.barracuda .article-image:first-child:before {
    background-image: url("img/list.png");
    transform: scaleX(-1);

}
.barracuda .article-image:first-child::before {
    right: auto;
    left: -50px;
}
.barracuda .article-container {
    margin-bottom: 50px;
}
.barracuda .article-container:hover .article-image::before {
    width: 60%;
}
.barracuda .article-cta {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color:#bc1f3c;
    padding: 5px;
    outline: none;
    border: 3px solid #bc1f3c;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    width: 200px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}
.barracuda .article-cta::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 100%;
    right: 100%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#bc1f39;
    transform-origin: center;
    transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}
.barracuda .article-container:hover .article-cta {
    cursor: pointer;
    color: white;
}
.barracuda .article-container:hover .article-cta::before {
    transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
}
.barracuda .article-copy {
    padding-left: 50px;
}
.barracuda .single-head {
    padding: 0px;
}
.barracuda .mobile-only {
    display: none;
}

h4.nadnaslov {
    text-align: center;
    font-size: 45px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'catamaran';
    
}
/* Footer */

.barracuda .native-signature .container {
    min-height: 120px;
    padding: 0px 50px;
}
.barracuda .native-signature .tg-studio {
    width: 70px;
    height: 90px;
    object-fit: contain;
    position: absolute;
    top: 15px;
    left: 50px;
}
.barracuda .native-signature .container p {
    padding-left: 150px;
}

@media screen and (max-width: 1279px) {
    .barracuda .mobile-only {
        display: block;
    }
    .barracuda .desktop-only {
        display: none;
    }
    .barracuda .flex-responsive {
        width: 100%;
    }
    .barracuda .article-image::before {
        right: -20px;
        top: -20px;
    }
    .barracuda .article-image:first-child::before {
        left: -20px;
    }
    .barracuda .article-image {
        order: 1;
    }
    .barracuda .article-copy {
        order: 2;
    }
    .barracuda .article-image {
        padding: 30px;
    }
    .barracuda .article-copy {
        padding: 0px;
    }

    .naslov{
        height:62px;
        margin: 0 auto;
    }
    .native-title h1{
        font-size: 46px;
        padding-bottom: 15px;

    }
    .native-title {
        padding: 15px;
        bottom: 0%;
    }
    .native-title h2 {
        font-size: 24px;
        text-align: center;
    }
    .barracuda .single-head .title {
        font-size: 32px;
    }
    .barracuda .native-signature .container p {
        padding-left: 0px;
        padding-top: 30px;
    }
    .barracuda .native-signature .tg-studio {
        position: relative;
        top: auto;
        left: auto;
    }
    .native-hero .native-hero-background {
        height: 100%;
        z-index: 3;
        position: relative;
    }
}
.boja a{
    color:#bc1f39;
  }

  .boja a:hover{
    color:#8a1629;
    text-decoration: underline;
  }


  @media only screen and (max-width: 870px) {
    .naslov{
        height:50px;
        margin: 0 auto;
    }
    .native-title h1 {
        font-size: 40px;
        text-align: center;
        width: 100%;
        padding-bottom: 0px;
        font-family: 'Frank Ruhl Libre light';
    }

    .native-title {
        padding: 5px;
        bottom: 0%;
    }
    .native-title h2 {
        font-size: 20px; 
        text-align: center;
    
        padding-top: 20px;
    }
    h4.nadnaslov{
        font-size:30px;
    }
    h3.nadnaslov{
        font-size:30px;
    }
  }

  @media only screen and (max-width: 700px) {
    .naslov{
        height:25px;
        margin: 0 auto;
    }
    .native-title h1 {
        font-size: 20px;
        text-align: center;
        width: 100%;
        padding-bottom: 0px;
        font-family: 'Frank Ruhl Libre light';
    }

    .native-title {
        padding: 0px;
    }
    .native-title h2 {
        font-size: 10px; 
        text-align: center;
    
        padding-top: 0px;
    }
    h4.nadnaslov{
        font-size:25px;
    }
    h3.nadnaslov{
        font-size:25px;
    }
  }

