body{
    font-family: 'Varela', sans-serif;
    color: #000;
    font-size: 16px;
    position: relative;
    background: radial-gradient(82.18% 82.18% at 0.46% 100%, rgba(0, 130, 0, 0.2) 34.38%, rgba(122, 184, 0, 0.2) 66.88%, rgba(232, 244, 232, 0.2) 100%),
    radial-gradient(94.39% 29.78% at 102.33% 57.36%, rgba(122, 184, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
	background-size: 100%;
	animation: gradient 10s ease infinite;
    line-height: 1.65;  
    width: 100%;
    max-width: 100vw; 
    overflow-x: hidden;
}

p{
    font-size: 1rem;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color: #000;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.linije{
    position: fixed;
    height: 100vh;
    width: calc(100% - 30px);
    border-left: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
    margin-left: 15px;
    margin-right: 15px;
    z-index: -1;
}

.navbar{
    border-bottom: 1px solid #C4C4C4;
    background-color: #fff !important;
}

.navbar-nav{
    align-items: center;
}

.navbar-light .navbar-nav .nav-link{
    color: #000;
    text-transform: uppercase;
}

.navbar-brand img{
    max-width: 100px;
}

.navbar-toggler{
    border: none;
}

.btn-zeleni{
    background-color: #008200;
    color: #fff;
    border-radius: 50px;
    font-family: manofa, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    padding: .5rem 2rem;
 
}

.btn-zeleni:hover{
    background-color: #7AB800;
    color: #fff;
}

.nav-item:last-of-type{
    margin-left: 1rem;
}

@media (min-width: 992px) {
    body{
        font-family: 'Varela', sans-serif;
        color: #000;
        font-size: 16px;
        position: relative;
        background: radial-gradient(82.18% 82.18% at 0.46% 100%, rgba(0, 130, 0, 0.2) 34.38%, rgba(122, 184, 0, 0.2) 66.88%, rgba(232, 244, 232, 0.2) 100%),
        radial-gradient(94.39% 29.78% at 102.33% 57.36%, rgba(122, 184, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
        line-height: 1.65;  
        max-width: 100vw; 
        overflow-x: hidden;
    }
    
    p{
        font-size: 1.125rem;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    .linije{
        position: fixed;
        height: 100vh;
        width: 92vw;
        border-left: 1px solid #C4C4C4;
        border-right: 1px solid #C4C4C4;
        margin-left: 4vw;
        margin-right: 4vw;
        z-index: -1;
    }
    
    .navbar{
        border-bottom: 1px solid #C4C4C4;
        background-color: #fff !important;
    }
    
    .navbar-nav{
        align-items: center;
    }
    
    .navbar-light .navbar-nav .nav-link{
        color: #000;
        text-transform: uppercase;
    }

    .navbar-brand img{
        max-width: 200px;
    }
    
    .btn-zeleni{
        background-color: #008200;
        color: #fff;
        border-radius: 50px;
        font-family: manofa, sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 16px;
        padding: .5rem 2rem;
     
    }
    
    .nav-item:last-of-type{
        margin-left: 1rem;
    }
}


header{
    background: url('../img/bg.png') no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    border-bottom: 1px solid #C4C4C4;
    position: relative;
    padding-bottom: 5rem;
}

.uvod{
    position: relative;
}

.bolji{
    padding-top: 30vw;
    z-index: 2;
}

.bolji p{
    font-size: 8vw;
    text-transform: uppercase;
    line-height: 1;
    z-index: 99;
}

.svijet p{
    font-size: 16vw;
    font-family: manofa, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    z-index: 99;
}

.special{
    padding: 0;
}

.ilustracija{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
}

.krug{
    width: 70vw;
    position: absolute;
    right: 5vw;
    top: 5vw;
}

.kap{
    position: relative;
    left: 50%;
    top: 60vw;
    z-index: 1;
}

.kap2{
    position: relative;
    left: 40%;
    top: 60vw;
    z-index: 1;
}

.uvod-text{
    padding-top: 40vw;
}

.kreni{
    padding-top: 2rem;
}

.kreni p{
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-right: 1rem;
}

.kap-link a:hover .kap-link img{
    transform: translateX(10px);
}

p.istaknuto{
    font-family: manofa, sans-serif;
}

.uvod-text p{
    font-size: 1.125rem;
    line-height: 1.65;
}

@media (min-width: 992px) {
    header{
        background: url('../img/bg.png') no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 100vh;
        border-bottom: 1px solid #C4C4C4;
        position: relative;
        padding-bottom: 10rem;
    }
    
    .uvod{
        position: relative;
    }
    
    .bolji{
        padding-top: 20%;
    }
    
    .bolji p{
        font-size: 6rem;
        text-transform: uppercase;
        line-height: 1;
    }
    
    .svijet p{
        font-size: 9rem;
        font-family: manofa, sans-serif;
        text-transform: uppercase;
        font-weight: 800;
    }
    
    .ilustracija{
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
    }

    .krug{
        width: 90%;
        position: relative;
        right: 0;
        top: 12%;
    }
    
    .kap{
        position: relative;
        left: -50%;
        top: 20%;
    }

    .kap2{
        position: relative;
        left: -45%;
        top: 20%;
    }
    
    .uvod-text{
        padding-top: 8rem;
    }

    .kreni{
        padding-top: 0;
    }
    
    .kreni p{
        text-transform: uppercase;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-right: 1rem;
    }
    
    p.istaknuto{
        font-family: manofa, sans-serif;
    }
    
    .uvod-text p{
        font-size: 1.125rem;
        line-height: 1.65;
    }
}


#tvoje3, #suhisijecanj, #posaljikap, #clanci{
    padding: 5rem 0;
    border-bottom: 1px solid #C4C4C4;
    position: relative;
}

#tvoje3{
    padding: 12rem 0;
}

.tvoje3svg{
    z-index: 99;
}

#budi-cool, #pomozi-drustvu, #zastiti-okolis{
    cursor: pointer;
}

#budi-cool:hover #budi-cool-grey{
transform: scale(1.15);
transform-origin: 50% 17.5%;
}

 #pomozi-drustvu:hover #pomozi-drustvu-grey{
    transform: scale(1.15);
    transform-origin: 18.5% 60%;
    }

    #zastiti-okolis:hover #zastiti-okolis-grey{
        transform: scale(1.15);
        transform-origin: 81% 60%;
        }

.fotka1{
    position: absolute;
    left: 0;
    top: 1rem;
    width: 20vw;
}

.fotka2{
    position: absolute;
    right: 0;
    bottom: 1rem;
    width: 20vw;
}

#reveal1 {
 
    opacity: 0;
				-webkit-transform: translateY(-40px);
					 -moz-transform: translateY(-40px);
						-ms-transform: translateY(-40px);
						 -o-transform: translateY(-40px);
								transform: translateY(-40px);
				-webkit-transition: all 0.6s ease-out;
					 -moz-transition: all 0.6s ease-out;
						-ms-transition: all 0.6s ease-out;
						 -o-transition: all 0.6s ease-out;
								transition: all 0.6s ease-out;
}
#reveal1.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
                }

                #reveal2 {
 
                    opacity: 0;
                                -webkit-transform: translateY(40px);
                                     -moz-transform: translateY(40px);
                                        -ms-transform: translateY(40px);
                                         -o-transform: translateY(40px);
                                                transform: translateY(40px);
                                -webkit-transition: all 0.6s ease-out;
                                     -moz-transition: all 0.6s ease-out;
                                        -ms-transition: all 0.6s ease-out;
                                         -o-transition: all 0.6s ease-out;
                                                transition: all 0.6s ease-out;
                }
                #reveal2.visible {
                    opacity: 1;
                    -webkit-transform: none;
                         -moz-transform: none;
                            -ms-transform: none;
                             -o-transform: none;
                                    transform: none;
                                }

                                #reveal3 {
                                    opacity: 0;
                                    -webkit-transform: scale(0.9);
                                         -moz-transform: scale(0.9);
                                            -ms-transform: scale(0.9);
                                             -o-transform: scale(0.9);
                                                    transform: scale(0.9);
                                    -webkit-transition: all 0.8s ease-in-out;
                                         -moz-transition: all 0.8s ease-in-out;
                                            -ms-transition: all 0.8s ease-in-out;
                                             -o-transition: all 0.8s ease-in-out;
                                                    transition: all 0.8s ease-in-out;
                                }
                                #reveal3.visible {
                                    opacity: 1;
                                    -webkit-transform: none;
                                         -moz-transform: none;
                                            -ms-transform: none;
                                             -o-transform: none;
                                                    transform: none;
                                }

                                #reveal4 {
                                    opacity: 0;
                                    -webkit-transform: scale(0.9);
                                         -moz-transform: scale(0.9);
                                            -ms-transform: scale(0.9);
                                             -o-transform: scale(0.9);
                                                    transform: scale(0.9);
                                    -webkit-transition: all 0.8s ease-in-out;
                                         -moz-transition: all 0.8s ease-in-out;
                                            -ms-transition: all 0.8s ease-in-out;
                                             -o-transition: all 0.8s ease-in-out;
                                                    transition: all 0.8s ease-in-out;
                                }
                                #reveal4.visible {
                                    opacity: 1;
                                    -webkit-transform: none;
                                         -moz-transform: none;
                                            -ms-transform: none;
                                             -o-transform: none;
                                                    transform: none;
                                }

                                #reveal5 {
                                    opacity: 0;
                                    -webkit-transform: scale(0.9);
                                         -moz-transform: scale(0.9);
                                            -ms-transform: scale(0.9);
                                             -o-transform: scale(0.9);
                                                    transform: scale(0.9);
                                    -webkit-transition: all 0.8s ease-in-out;
                                         -moz-transition: all 0.8s ease-in-out;
                                            -ms-transition: all 0.8s ease-in-out;
                                             -o-transition: all 0.8s ease-in-out;
                                                    transition: all 0.8s ease-in-out;
                                }
                                #reveal5.visible {
                                    opacity: 1;
                                    -webkit-transform: none;
                                         -moz-transform: none;
                                            -ms-transform: none;
                                             -o-transform: none;
                                                    transform: none;
                                }

.modal-header{
    height: 265px;
    align-items: start;
}

.bc-header{
    background: url('../img/budi-cool-modal.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.pd-header{
    background: url('../img/pomozi-drustvu-modal.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.zo-header{
    background: url('../img/zastiti-okolis-modal.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.modal-dialog{
    max-width: 100%;
}

.btn-close{
    color: #fff;
    background: url('../img/menu/close_small.svg') no-repeat;
    background-size: contain;
    background-position: center center;
}

.black-close{
    color: #000;
    background: url('../img/menu/menu/close_smallblack.svg') no-repeat;
    background-size: contain;
    background-position: center center;
}

.kap1{
    position: absolute;
    top: -10%;
    left: calc(50% - 30px);
    width: 60px;
}

.modal-body{
    padding: 2rem 3rem 3rem;
}

.modal-body h1{
 font-size: 1.75rem;
 color: #008200;
 font-family: manofa, sans-serif;
 font-weight: 500;
 padding-bottom: 1rem;
 text-transform: uppercase;
}

.modal-body h4{
    font-size: 1rem;
    font-family: manofa, sans-serif;
    font-style: italic;
    padding-bottom: 1rem;
    line-height: 1.75;
}

.modal-body p{
    line-height: 1.65;
}


@media (min-width: 992px){
    #tvoje3, #suhisijecanj, #posaljikap, #clanci{
        padding: 10rem 0;
        border-bottom: 1px solid #C4C4C4;
        position: relative;
    }
    
    .tvoje3svg{
        z-index: 99;
    }
    
    #budi-cool, #pomozi-drustvu, #zastiti-okolis{
        cursor: pointer;
    }
    
    #budi-cool:hover #budi-cool-grey{
    transform: scale(1.15);
    transform-origin: 50% 25%;
    }
    
     #pomozi-drustvu:hover #pomozi-drustvu-grey{
        transform: scale(1.15);
        transform-origin: 18.5% 62.5%;
        }
    
        #zastiti-okolis:hover #zastiti-okolis-grey{
            transform: scale(1.15);
            transform-origin: 81% 62.5%;
            }
    
    .fotka1{
        position: absolute;
        left: 0;
        top: 5rem;
        width: auto;
    }
    
    .fotka2{
        position: absolute;
        right: 0;
        bottom: 5rem;
        width: auto;
    }
    
    .modal-header{
        height: 265px;
        align-items: start;
    }
    
    .bc-header{
        background: url('../img/budi-cool-modal.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
    }
    
    .pd-header{
        background: url('../img/pomozi-drustvu-modal.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
    }
    
    .zo-header{
        background: url('../img/zastiti-okolis-modal.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
    }
    
    .modal-dialog{
        max-width: 565px;
    }
    
    .btn-close{
        color: #fff;
        background: url('../img/menu/close_small.svg') no-repeat;
        background-size: contain;
        background-position: center center;
    }
    
    .black-close{
        color: #000;
        background: url('../img/menu/menu/close_smallblack.svg') no-repeat;
        background-size: contain;
        background-position: center center;
    }
    
    .kap1{
        position: absolute;
        top: -10%;
        left: calc(50% - 30px);
        width: 60px;
    }
    
    .modal-body{
        padding: 2rem 3rem 3rem;
    }
    
    .modal-body h1{
     font-size: 2rem;
     color: #008200;
     font-family: manofa, sans-serif;
     font-weight: 500;
     padding-bottom: 1rem;
     text-transform: uppercase;
    }
    
    .modal-body h4{
        font-size: 1.125rem;
        font-family: manofa, sans-serif;
        font-style: italic;
        padding-bottom: 1rem;
        line-height: 1.75;
    }
    
    .modal-body p{
        line-height: 1.65;
    }
}


.sijecanj-content span{
    background-color: #7AB800;
    padding: .25rem 1rem;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
}

.sijecanj-content h2{
    font-family: manofa, sans-serif;
    font-size: 2.25rem;
    text-transform: uppercase;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    line-height: 1.35;
}

.razmak{
    padding-top: 2rem;
}

.sijecanj-content button{
    margin-top: 1rem;
}

.broj-kapi{
    padding-top: 5rem;
}

.brojac h1{
    font-family: manofa, sans-serif;
    font-size: 9rem;
    color: #008200;
    font-weight: 300;
}

.brojac p{
    text-transform: uppercase;
    font-size: 1.125rem;
}

.pk-content h2{
    font-family: manofa, sans-serif;
    font-size: 2.25rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    line-height: 1.35;
}

.pk-ilutracija{
    padding-top: 15rem;
    position: relative;
}

.pk-kapi{
    position: absolute;
    top: 30%;
    right: 10%;
    width: 120px;
}

form{
    padding-top: 2rem;
}

.form-label{
    font-family: manofa, sans-serif;
    font-weight: 300;
}

form button{
    margin-top: 1rem;
}

.poruke{
    padding-top: 5rem;
}

.prev{
    margin-right: 1rem;
}

.poruke h4{
    font-family: manofa, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.poruke-slider{
    padding-top: 2rem;
}

.poruka{
    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    margin-right: 1rem;
}

.body-poruke{
    padding: 2rem 3rem;
}

.footer-poruke{
    background: url('../img/footer-poruka.jpg') no-repeat;
    background-size: cover;
    height: 55px;
    display: flex;
    justify-content: flex-end;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    padding: 1rem;

}

.footer-poruke p{
    margin-bottom: 0;
    font-family: manofa, sans-serif;
    color: #fff;
    font-weight: 300;
}
@media (min-width: 992px){
    .sijecanj-content span{
        background-color: #7AB800;
        padding: .25rem 1rem;
        color: #fff;
        text-transform: uppercase;
        border-radius: 4px;
    }
    
    .sijecanj-content h2{
        font-family: manofa, sans-serif;
        font-size: 2.25rem;
        text-transform: uppercase;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        line-height: 1.35;
    }
    
    .razmak{
        padding-top: 5rem;
    }
    
    .sijecanj-content button{
        margin-top: 1rem;
    }
    
    .broj-kapi{
        padding-top: 15rem;
    }
    
    .brojac h1{
        font-family: manofa, sans-serif;
        font-size: 9rem;
        color: #008200;
        font-weight: 300;
    }
    
    .brojac p{
        text-transform: uppercase;
        font-size: 1.125rem;
    }
    
    .pk-content h2{
        font-family: manofa, sans-serif;
        font-size: 2.25rem;
        text-transform: uppercase;
        padding-bottom: 1.5rem;
        line-height: 1.35;
    }
    
    .pk-ilutracija{
        padding-top: 15rem;
        position: relative;
    }
    
    .pk-kapi{
        position: absolute;
        top: 15%;
        right: 15%;
        width: auto;
    }
    
    form{
        padding-top: 2rem;
    }
    
    .form-label{
        font-family: manofa, sans-serif;
        font-weight: 300;
    }
    
    form button{
        margin-top: 1rem;
    }
    
    .poruke{
        padding-top: 10rem;
    }
    
    .prev{
        margin-right: 1rem;
    }
    
    .poruke h4{
        font-family: manofa, sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    
    .poruke-slider{
        padding-top: 2rem;
    }
    
    .poruka{
        background-color: #fff;
        border: 1px solid #E5E5E5;
        border-radius: 4px;
        margin-right: 1rem;
    }
    
    .body-poruke{
        padding: 2rem 3rem;
    }
    
    .footer-poruke{
        background: url('../img/footer-poruka.jpg') no-repeat;
        background-size: cover;
        height: 55px;
        display: flex;
        justify-content: flex-end;
        border-radius: 4px;
        border: 1px solid #E5E5E5;
        padding: 1rem;
    
    }
    
    .footer-poruke p{
        margin-bottom: 0;
        font-family: manofa, sans-serif;
        color: #fff;
        font-weight: 300;
    }
}
.naslov h2{
    font-family: manofa, sans-serif;
    font-size: 2.25rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    line-height: 1.35;
}

.clanak{
text-align: center;
margin-top: 2rem;
}

.clanak img{
    width: 100%;
    border-radius: 8px;
   height: 250px;
    object-fit: cover;
}

.clanak p{
    font-family: manofa, sans-serif;
    font-size: 1.25rem;
    line-height: 1.25;
    margin-top: 1.5rem;
}

#clanci a{
    text-decoration: none;
    color: #000;
}

.suhisijecanj-fotka2{
    padding-top: 2rem;
}


footer{
    background-color: #008200;
    padding: 5rem 0;
    color: #fff;
}

.logotipi{
    padding-bottom: 3rem;
}

footer p{
    font-size: 1rem;
}

@media (min-width: 992px){
    .naslov h2{
        font-family: manofa, sans-serif;
        font-size: 2.25rem;
        text-transform: uppercase;
        padding-bottom: 1.5rem;
        line-height: 1.35;
    }
    
    .clanak{
    text-align: center;
    margin-top: 2rem;
    }
    
    .clanak img{
        width: 100%;
        border-radius: 8px;
       height: 300px;
        object-fit: cover;
    }
    
    .clanak p{
        font-family: manofa, sans-serif;
        font-size: 1.5rem;
        line-height: 1.25;
        margin-top: 1.5rem;
    }
    
    #clanci a{
        text-decoration: none;
        color: #000;
    }
    
    .suhisijecanj-fotka2{
        padding-top: 2rem;
    }
    
    
    footer{
        background-color: #008200;
        padding: 10rem 0;
        color: #fff;
    }
    
    .logotipi{
        padding-bottom: 3rem;
    }
    
    footer p{
        font-size: 1.25rem;
    }
}


