@media (min-width: 768px) {
  
}
@media (max-width: 980px) {
  
}
@media (max-width: 767px) {
.top-banner{ padding-top:150px;}
.info-banner{ min-height: 300px;}
/*-----------*/
.info-banner-one, .info-banner-two, .info-banner-three, .info-banner-four{ background-attachment: scroll !important; }

}
