@import "tailwindcss";
@import "flickity/dist/flickity.min.css";

@theme {
  --color-primary: #a20700;
  --color-dark-slate: #212525;
  --color-light-sand: #fef4d3;
  --color-olive-green: #304106;

  --breakpoint-tb: 921px;
  --breakpoint-xl: 1121px;
}
@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Christmas";
  src: url("/src/assets/fonts/LastChristmas_PERSONAL_USE_ONLY.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/src/assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GoodSans";
  src: url("/src/assets/fonts/goodsans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@layer utilities {
  .font-christmas {
    font-family: "Christmas", sans-serif;
  }

  .font-lato {
    font-family: "Lato", sans-serif;
  }
  .font-goodsans {
    font-family: "GoodSans", sans-serif;
  }

  .font-poppins {
    font-family: "Poppins", sans-serif;
  }
  .font-inter {
    font-family: "Inter", sans-serif;
  }
}
.snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}

.flake {
  position: absolute;
  top: -10px;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: fall linear infinite;
  filter: blur(1px);
}
@keyframes fall {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) translateX(50px);
    opacity: 0.2;
  }
}
