/*
* Barracuda Page Style CSS
* by TG Studio
*/

/* Basics */

body {
    font-family: 'Lora', serif;
    line-height: 1.5em;
    color: #111;
    font-size: 20px;
}
article {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
article > * {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}
article > img {
    max-width: 1024px;
}
h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
h1 {
    font-size: 92px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0px;
}
h2 {
    font-size: 36px;
    margin-top: 32px;
    margin-bottom: 32px;
}
h2 span {
    width: 100%;
    padding-bottom: 8px;
}
h2 img {
    width: 50%;
    max-width: 250px;
    margin: 0 auto;
}
h2 img:last-child {
    transform: rotate(180deg);
}
article h2 {
    padding-left: 16px;
    border-left: 5px solid #d51b5e;
}
h3 {
    font-size: 28px;
    padding: 16px 0px;
}
p {
    padding-bottom: 16px;   
}
/*.native-header {
    background-color: #ebeceb;
}
.native-title > div {
    border: 10px solid #9694c9;
    position: relative;
    right: -20%;
    padding: 5%;
    padding-right: 20%;
}*/
.native-header {
    display: block;
    overflow: hidden;
    height: 50vw;
    position: relative;
}
.native-header video {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: 3;
    display: block;
}
.native-title {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 5vw;
    padding-bottom: 5vw;
    z-index: 5;
    padding-top: 10vw;
    background-image: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
}
.native-title div {
    border-left: 32px solid #d51b5e;
    padding-left: 64px;
}
/*.native-illustration img {
    position: relative;
    z-index: 3;
}*/
.infographic {
    padding: 24px;
    /*background-image: linear-gradient(to right top, #b6d2fd, #bdd0f9, #c3cef5, #c8ccf1, #cccaec);*/
    border: 5px solid #d51b5e;
    margin-top: 24px;
    margin-bottom: 24px;
}
.infographic h3 {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}
.infographic p {
    padding: 16px 32px;
    font-family: 'Raleway', sans-serif;
}
.infographic img {
    margin: 0 auto;
}
.disclaimer {
    font-size: 14px;
    text-align: center;
    max-width: 480px;
    width: 100%;
    margin: 0px auto;
}
details summary::-webkit-details-marker, summary::marker {
    display: none;
}
details > summary {
    list-style: none;
}
.interactive-segment {
    margin-top: 30px;
    max-width: 100%;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}
.interactive-segment details {
    padding: 0px 32px;
    opacity: .7;
    cursor: pointer;
}
.interactive-segment details:hover {
    opacity: 1;
}
.interactive-segment p {
    opacity: .5;
}
@media screen and (max-width: 1023px) {
    article {
        padding: 0px 24px;
    }
    h1 {
        font-size: 64px;
    }
    .native-title {
        padding: 24px;
    }
    .native-title > div {
        right: auto;
        bottom: -20%;
        padding-right: 5%;
        padding-bottom: 20%;
    }
    .native-header {
        height: 100vw;
    }
}
@media screen and (max-width: 479px) {
    .interactive-segment details {
        padding: 0px 20%;
    }
    article {
        padding: 0px 16px;
    }
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    .native-title {
        padding: 16px;
    }
}
  