/*
* Barracuda Page Style CSS
* by TG Studio
*/

@font-face {
    font-family: 'SummerVibes';
    src: url('SummerVibes.woff2') format('woff2'),
        url('SummerVibes.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Basics */

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Georgia', serif;
    color: #111;
}
img {
    width: 100%;
}

.native-hero {
    padding: 5vw;
    height: 50vw;
    position: relative;
    margin-bottom: 64px;
}
.native-hero::before {
    content: ' ';
    background-image: linear-gradient(to top, #ffe083, #fd92bc);
    width: 100%;
    height: 25vw;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.native-title {
    width: 40vw;
    height: 40vw;
    position: relative;
    padding: 5vw;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.native-title > img {
    position: absolute;
    top: 0;
    left: 0;
}
.native-title-square {
    padding: 2vw;
    position: relative;
    z-index: 5;
    background-color: rgba(0,0,0,0.4);
    border: 5px solid white;
    color: white;
}
.section-title {
    width: 480px;
    height: 480px;
    position: relative;
    margin: 50px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.section-title h2 {
    font-family: 'SummerVibes';
    font-size: 72px;
    margin-bottom: 0px;
}
.section-title-papa::before {
    content: ' ';
    background-image: linear-gradient(to top, #ffe083, #fd92bc);
    width: 100%;
    height: 340px;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0;
}
.hedonist .section-title-papa::before {
    background-image: linear-gradient(to top, #6bc1bf, #96b6df);
}
.party .section-title-papa::before {
    background-image: linear-gradient(to top, #95d5d5, #f9d682);
}
.beauty .section-title-papa::before {
    background-image: linear-gradient(to top, #fbd7e3, #f9d682);
}
.izazov .section-title-papa::before {
    background-image: linear-gradient(to top, #6b95c7, #addfe6);
}
.section-title > img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.section-title-square {
    padding: 24px;
    position: relative;
    z-index: 5;
    background-color: rgba(0,0,0,0.4);
    border: 3px solid white;
    color: white;
}
.native-hero h1, h2.section-title {
    font-family: 'SummerVibes';
}
.native-hero h1 {
    font-size: 6vw;
    color: white;
}
.header-logos {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 16px;
    z-index: 5;
}
.header-logos img {
    width: 50%;
    max-width: 120px;
}
.native-hero video {
    width: 100%;
    z-index: 1;
}
.native-title {
    z-index: 3;
    /*margin-top: -200px;*/
    position: absolute;
    bottom: 5vw;
    background-color: white;
}
.shoo-top {
    margin-top: 50px;
}
.horizontal-pad {
    padding: 0px 24px;
}
.native-title img {
    max-width: 920px;
    margin: 0 auto;
}
.native-title h2, .custom-title {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}
.intro {
    font-size: 24px;
}
.girl_svg {
    width: 100%;
}
.girl_colored {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
.article-4 {
    width: 100%;
    padding: 0px 16px;
}
.article-1-papa {
    padding: 0px 16px;
}
.article-1 {
    max-width: 100%;
    width: 100%;
    background-color: #853cea;
    /*text-shadow: 2px 0px #ffea36;*/
    margin-bottom: 32px;
}
.article-1 .article-meta {
    color: white;
    text-shadow: 1px 1px 0px black;
}
.article-1-papa:first-child .article-1 {
    background-color: #ffea36;
}
.custom-title {
    margin-top: 32px;
}
.article-1 h1.title, .article-4 h1.title {
    position: relative;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 1.3em;
    margin-top: 0px;
    z-index: 5;
}
.article-4 h1.title {
    font-size: 24px;
}
.article-1 .article-text, .article-4 .article-text {
    padding: 0 16px;
    margin-top: 0px;
    z-index: 3;
    min-height: auto;
}
.article-4 .article-text, .article-4 .article-img {
    background-color: #ffea36;
}
.fourth:nth-child(2n) .article-4 .article-text, .fourth:nth-child(2n) .article-4 .article-img {
    background-color: #4ac3ec;
}
.fourth:nth-child(3n) .article-4 .article-text, .fourth:nth-child(3n) .article-4 .article-img {
    background-color: #6bd52f;
}
.fourth:nth-child(4n) .article-4 .article-text, .fourth:nth-child(4n) .article-4 .article-img {
    background-color: #da48ff;
}
.article-1 .article-text .text-area, .article-4 .article-text .text-area {
    background: transparent;
    padding: 25px 10px;
    padding-top: 15px;
}
.article-4 .article-text .text-area {
    padding-bottom: 4px;
}
.article-1 h3.overtitle, .article-4 h3.overtitle {
    display: none;
}
.article-1 .img-shadow, .article-4 .img-shadow {
    display: none;
}
.article-1 .article-img img, .article-4 .article-img img {
    mix-blend-mode: multiply;
}
.article-1 .article-img::before, .article-4 .article-img::before {
    /*content: ' ';*/
    height: 62px;
    width: 100%;
    background-color: #ffea36;
    opacity: .3;
    position: absolute;
    bottom: 0px;
    z-index: 3;
}
.time-slider-article h4 {
    text-align: center;
    color: #999;
    text-transform: uppercase;
}
.time-slider-article {
    z-index: 2;
    position: relative;
    width: 130%;
}
.time-slider-article .article-4 {
    padding: 0px;
}
.third:first-child .time-slider-article, .third:last-child .time-slider-article {
    z-index: 1;
    opacity: .5;
    width: 110%;
    top: 48px;
}
.third:first-child .time-slider-article {
    right: -20%;
}
.third:first-child .article-4 .article-text, .third:first-child .article-4 .article-img {
    background-color: #4ac3ec;
}
.third:last-child .article-4 .article-text, .third:last-child .article-4 .article-img {
    background-color: #6bd52f;
}
.third:last-child .time-slider-article {
    left: -20%;
}
.third:first-child .time-slider-article:hover, .third:last-child .time-slider-article:hover {
    z-index: 3;
    opacity: 1;
}

.two-thirds:first-child {
    padding-right: 220px;
}
.two-thirds:last-child{
    padding-left: 220px;
}
/*.article-1:last-child {
    background-color: #236993;
    text-shadow: 2px 0px #236993;
    color: white;
}
.article-1:last-child .article-meta {
    color: #aaa;
}
.two-thirds .half:first-child {
    padding-right: 12px;
}
.two-thirds .half:last-child {
    padding-left: 12px;
}
.two-thirds .half .article-1 .title {
    font-size: 32px;
}
.two-thirds .half .article-1 .article-text .text-area {
    padding: 15px 0px;
}
.two-thirds .half .article-1 .article-img img {
    mix-blend-mode: normal;
}*/


/* Footer */

.native-signature {
    padding-bottom: 50px;
}
.native-signature .container {
    min-height: 120px;
    padding: 0px 50px;
}
.native-signature .tg-studio {
    width: 70px;
    height: 90px;
    object-fit: contain;
}
.native-signature img {
    margin: 30px
}
.native-signature .container p {
    padding: 10px;
    opacity: .7;
    padding-left: 30px;
    font-weight: 500;
}
.article-4 .article-meta {
    padding-bottom: 12px;
}

.content-table {
    padding: 48px 0px;
}
.content-table h5 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 36px;
    font-weight: 700;
    font-style: normal;
    opacity: .5;
    letter-spacing: 0.2em;
    font-family: 'Catamaran', sans-serif;
}
.content-table a {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    font-size: 22px;
    opacity: .7;
}
.content-table a:hover {
    opacity: 1;
}
@media screen and (max-width: 1023px) {
    .container {
        padding: 30px 0px;
    }
    .two-thirds:first-child {
        padding-right: 0px;
    }
    .two-thirds:last-child{
        padding-left: 0px;
    }
    .article-1 h1.title, .article-4 h1.title {
        font-size: 32px;
    }
    .native-hero {
        height: auto;
        margin-bottom: 15vw;
    }
    .native-hero h1 {
        font-size: 10vw;
    }
    .content-table {
        padding: 24px;
    }
    .native-title, .section-title {
        position: relative;
        padding: 30px;
        width: 80vw;
        height: 80vw;
        bottom: auto;
        top: 12.5vw;
    }
    .section-title {
        top: 5vw;
    }
    .native-title img, .section-title img {
        height: 100%;
        object-fit: cover;
    }
    .native-title h2 {
        font-size: 18px;
        text-align: center;
    }
    .article-4 {
        padding: 0;
        margin-bottom: 15px;
    }
    .third {
        margin-bottom: 15px;
    }
    .time-slider-article {
        z-index: 2;
        position: relative;
        width: 100%;
    }
    .time-slider-article .article-4 {
        padding: 0px;
    }
    .third:first-child .time-slider-article, .third:last-child .time-slider-article {
        z-index: 1;
        opacity: 1;
        width: 100%;
        top: 0px;
    }
    .third:first-child .time-slider-article {
        right: 0%;
    }
    .third:last-child .time-slider-article {
        left: 0%;
    }
    .third:first-child .time-slider-article:hover, .third:last-child .time-slider-article:hover {
        z-index: 3;
        opacity: 1;
    }
}