/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-podcast-platforms {
	border: none;
	background-color: transparent;
	color: black;
}
.nothing {
	width: 100%;
	padding: 14px;
	border: 1px solid gray;
	border-radius: 10px;
	color: #adadad;
	text-align: center;
}
.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
	color: black;
}
.main {
	background-color: transparent;
	text-decoration: none;
}
.podcasts-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: transparent;
}
.podcasts-wrapper a {
	text-decoration: none;
}

.podcast-box {
	display: flex;
	flex-direction: row;
	gap: 6px;
	border: 1px solid #e4e4e4;
	border-radius: 4px;
}
.podcast-box.youtube {
	padding: 6px 7px;
}
.podcast-box.spotify {
	padding: 6px 14px;
}
.podcast-box.apple {
	padding: 6px 8px;
}
.podcast-box.random {
	padding: 6px 12px;
}
.podcast-box .text-wrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;
	text-align: left;
}
.text-wrapper p {
	font-family: "Inter", sans-serif;
	font-weight: 600;
	font-size: 8px;
	line-height: 100%;
	color: #adadad;
	margin: 0px;
}
.text-wrapper span {
	font-family: "Inter", sans-serif;
	font-weight: 600;
	font-size: 12px;
	line-height: 100%;
	color: black;
}
