/*
* CSS
* by TG Studio Marijan
*/

/* Colors */

:root {
    --highlight-color: 174, 55, 55;
}

/* Typography */

html {
    font-family: 'Good Sans', sans-serif;
    font-weight: 300;
}

h2,
p,
button {
    font-family: "Good Sans", sans-serif;
}


/* Good Sans – Black (900 weight) */
@font-face {
    font-family: 'Good Sans';
    src: url('../assets/fonts/goodsans-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Good Sans – Medium (500 weight) */
@font-face {
    font-family: 'Good Sans';
    src: url('../assets/fonts/goodsans-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Good Sans – Regular Italic (400 italic) */
@font-face {
    font-family: 'Good Sans';
    src: url('../assets/fonts/goodsans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Good Sans', sans-serif;
}

/* General */
.main-container {
    padding: 2rem;
    background-color: #7b3737;
}

header {
    background: #fffff9;
}

header.full.center.relative {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}

h2.full {
    max-width: 500px;
    color: #7b3737;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    line-height: 52px;
}



header p.full {
    font-size: 20px;
    max-width: 500px;
    line-height: 28px;
    font-family: 'Good Sans', sans-serif;
    font-weight: 400;

}

header span {
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 400;

}

/* colors */
.white-bg {
    background: #fffff9;
}


/* images */
.top-logos {
    background: #fffff9;
    padding-top: 40px;
    color: black;

}

.top-logos img {
    height: 2rem;
}

.stretch-height img {
    height: 90vh;
    object-fit: cover;
}

.strijela {
    transform: rotate(110deg);
    bottom: 15%;
    width: 10%;
    right: 20%;
    z-index: 22;
}

.tape {
    width: 10%;
    transform: rotate(20deg);
    bottom: -10%;
    z-index: 20;

}

/* space */

.wrap {
    flex-wrap: wrap;
}

header .more-space {
    height: 70vh;
}

section .more-space {
    height: 40vh;
}

.absolute {
    position: absolute;
}

.divider {
    height: 6vh;
    background: #fffff9;
}

.bottom-border {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}


/* kviz */

.kviz {
    background: #435645;
    font-family: 'Good Sans', sans-serif
}

.kviz h3 {
    font-size: 36px;
    color: #F1ECE2;
    font-weight: 400;
    margin-bottom: 3rem;
    margin-top: 0.5rem;
}

.kviz p {
    font-size: 20px;
    color: #F1ECE2;
    font-weight: 400;
    margin-top: 3rem;
}

.kviz button[data-category] {
    background-color: #F1ECE2;
    color: #7B3737;
    padding: 1rem;
    margin-bottom: 20px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, filter 0.3s ease;
    cursor: pointer;


}

.kviz button:hover {
    filter: brightness(80%);
}

.slide {
    display: none;
}

.slide.active {
    display: flex;
}

.slide[data-slide="1"] .prev-btn {
    display: none;
}

.email-form {
    margin-top: 1.5rem;
}

.email-slide {
    height: 55vh;
}

.email-slide p {
    margin-top: 1rem;
    font-size: 18px;
}

.email-slide button,
.thank-you-slide button {
    font-size: 16px;
    margin: 0;
    background: #25272C;
    color: #FFFFFF;
    padding: 0.7rem 1rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    border-radius: 8px;
    transition: 0.3s ease;
    border: none;

}

.email-slide button:hover,
.thank-you-slide button:hover {
    background-color: #fffff9;
    cursor: pointer;
    color: #25272C;
}

.email-slide input {
    padding: 0.7rem;
    font-family: 'Inter', sans-serif;
    border-radius: 4px;
    border: none;
    margin-right: 1rem;
    font-size: 16px;
}

.thank-you-slide {
    height: 55vh;

}

.thank-you-slide h3,
.email-slide h3 {
    margin-bottom: 1rem;
}

.kava {
    width: 10%;
}

.thank-you-slide h3 {
    font-size: 36px;
}

.prev-btn {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    transform: rotate(180deg);
    transition: background-color 0.3s ease, filter 0.3s ease;

}


.answer[data-category] {
    position: relative;
    padding-left: 2.2rem;
    /* space for the icon */
    text-align: center;
}

.answer.active[data-category] {
    background-color: #7b3737;
    color: #fffff9;
}

.answer .selected-icon {
    position: inherit;
    transform: translateY(10%);
    width: 1.2rem;
    height: 1.2rem;
    fill: #fffff9;
    margin-right: 0.5rem;
    /* adjust color as needed */
    display: none;
}

.answer.active .selected-icon {
    display: inline-block;
}

.next-btn {
    display: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    cursor: pointer;
    background: none;
    border: none;
    transition: background-color 0.3s ease, filter 0.3s ease;

}



/* footer */

footer p.full {
    color: #fffff9;
    font-weight: 400;
}

footer .logo-line img {
    width: 209px;
    height: 74px;
}

footer .center {
    justify-content: space-between;
}

.main{
    display: flex;
    flex-direction: row;
}
.main .left{
    padding-top: 40px;
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    gap: 140px;
}
.main .logos img{
    height: 54px;
    width: auto;
}
.main .logos{
    display: flex;
    flex-direction: row;
    height: 54px;
}
.main .left, .main .right{
    width: 50%;
}
.main .right img{
    min-height: 700px;
    width: auto;
    object-fit: cover;
}
.checkbox-container{
     
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 16px;
    margin-top: 16px;
    width: fit-content;
    margin-left: -35px;
}
.checkbox-container input{
    margin: 0 !important;
    padding: 0 !important;
}
.checkbox-container a{
    color: rgb(173, 181, 189);
}
/* tablete */
@media screen and (max-width: 810px) {

    header .more-space {
        height: 50vh;
    }

    .stretch-height img {
        height: 55vh;
    }

    .tape {
        width: 15%;
        bottom: -6%;
    }

    .next-btn {
        right: 0rem;
        top: 53.9%;
    }

    .prev-btn {
        left: 0rem;
        top: 54%;
    }
}

/* mobile */

@media screen and (max-width: 1024px) {
    .main-container {
        padding: 0.7rem;
    }

    .stretch-height img {
        height: 45vh;
    }

    header .more-space {
        height: auto;
    }

    h2.full {
        margin-bottom: 1rem;
        line-height: 48px;
    }

    .top-logos {
        margin-left: 1rem;
    }

    section .more-space {
        height: auto;
    }

    .tape {
        width: 20%;
    }

    .kviz button.answer[data-category="typeE"] {
        margin-bottom: 2.5rem;
        /* or whatever size you need */
    }

    .kviz button[data-category] {
        font-size: 17px;
    }

    .strijela {
        right: 5%;
        width: 12%;
    }

    .kviz p {
        margin-top: 0rem;
    }

    .kviz h3 {
        font-size: 25px;
        margin-bottom: 1rem;
    }

    .kviz button {
        width: 100%;
        font-size: 18px;
        margin-top: 0.5rem;

    }

    .email-form {
        flex-wrap: wrap;
    }

    .email-slide input {
        margin-right: 0rem;
        text-align: center;
        margin-bottom: 0.5rem;
        width: 100%;
    }

    .stretch-height img {
        height: 35vh;
    }

    footer .container.center {
        flex-wrap: wrap;
    }

    footer p.full {
        text-align: center;
    }

    footer .logo-line img {
        width: 170px;
        height: 80px;
    }

    .next-btn {
        bottom: -43.5%;
        left: 13rem;
        right: 0rem;
    }

    .prev-btn {
        top: 96%;
        left: -13rem;
    }

    .kviz button.next-btn,
    .kviz button.prev-btn {
        margin-top: 10px;
    }
.kviz button.next-btn {
        margin-top: 15px;
    }
.kviz button.next-btn {
        margin-top: 5px;
    }

    footer .center {
        justify-content: center;
        flex-wrap: wrap;

    }

    footer .fourth {
        width: 100%;
    }
    .main{
        flex-direction: column;
        gap: 60px;
    }
    
.main .left, .main .right{
    width: 100%;
}

.main .left{
    gap: 30px;
    padding-left: 16px;
}
.main .logos img {
    height: 40px;
}
.containerPitanja{
    padding-bottom: 1.6rem !important;
}
}