/*
* CSS
* by TG Studio Marijan
*/

/* Colors */

:root {
    --highlight-color: 174, 55, 55;
}

/* Typography */

html {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
}

body {
    cursor: url('../assets/placeholders/optimized/mouse.webp') 0 0, auto;
}
.main-container{
    overflow-y: hidden;
}
.capatalise {
    text-transform: uppercase;
}

.fancy {
    font-family: "Ballet", cursive;
    font-size: clamp(1vw, 15vw, 300px);
    line-height: clamp(1vw, 10vw, 200px);
}

.roza-bg-folder{
    height: 110% !important;
}
.featuredArticles{
    min-height: 500px;
    padding-top: 40px;
}
.normal-text {
    font-family: 'DM Sans', sans-serif;
    font-weight: 100;
    margin-left: clamp(2rem, 10vw, 11rem);
    font-size: clamp(1rem, 4vw, 4rem);
}

.header-text {
    top: 35%;
    right: 10%;
    transform: rotate(4deg) !important;
    line-height: 60px;
}

.flip {
    transform: scaleX(-1);
}

/* color-bg */
.blue-bg {
    background: #C5D0D2;

}

.white-bg {
    background: #f9f6ed;
}

.pink-bg {
    background: #f2dfe5;
    height: 100vh; /* Fallback */
    height: -webkit-fill-available; /* Safari */
    height: -moz-available; /* Firefox */
    height: stretch; /* Future standard */
}

.yellow-bg {
    background: #f0e095;

}

.brown-bg {
    background-color: #986a50;
}

/* chat */
.chat{
    display: flex;
    flex-direction: column;
    width: 750px;
    margin-left: 84px;
    max-width: 85%;
}
.chatMobile{
    display: none;
    flex-direction: column;
    margin-left: 24px;
}
.chat-bubble {
}
.chat-bubble-third{
    margin-top: 25px;
}
.bubble-right {
    margin-left: auto;
    margin-right: 1rem;
    border-bottom-right-radius: 5px;
}

.bubble-left {
    margin-right: auto;
    margin-left: 1rem;
    border-bottom-left-radius: 5px;
}

.bubble-center {
    margin: 1.5rem auto;
    text-align: center;
    border-radius: 15px;
    max-width: 80%;
}


/* spacing */

.absolute {
    position: absolute;
}

.negative-margin {
    margin-top: -4rem;
}
.shoo-top {
    margin-top: 8rem;
}

.shoo-bottom {
    margin-bottom: 1rem;
}

.shoo-top-bottom {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


#power.shoo-top {
    margin-top: 6rem;
}
.kavaContainer{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    left: -100px;
}
.kavaContainer p{
    font-family: "Special Elite", system-ui;
    font-size: 18px;
    transform: rotate(90deg);
    position: relative;
    left: 85px;
}
.kavaContainer img{
    width: 200px;
}
.skincareContainer{
    display: flex;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    position: relative;
    left: 50px;
}
.skincareContainer p{
    font-family: "Special Elite", system-ui;
    font-size: 18px;
    transform: rotate(90deg);
    position: relative;
    left: 85px;
}
.skincareContainer img{
    width: 200px;
}
.workoutContainer{
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
    left: -150px;
}
.workoutContainer p{
    font-family: "Special Elite", system-ui;
    font-size: 18px;
}
.workoutContainer img{
    width: 200px;
}
.allContainers{
    left: clamp(73px, 10vw, 20vw);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {


}
/* Images */
.hero-photo {
    background-image: url("../assets/placeholders/office-bg.jpg");
    background-image: url("../assets/placeholders/optimized/office-bg.webp");
    background-size: cover;
    /* scales properly */
    background-position: center;
    background-repeat: no-repeat;
    height: clamp(500px, 100vh, 1000px);
}

.notebook-bg {
    background-image: url("../assets/placeholders/biljeznica_nova.png");
    background-image: url("../assets/placeholders/optimized/biljeznica_nova.webp");
    background-size: cover;
    /* scales properly */
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
}

.sticky-note {
    scale: 0.4;
}

.box {
    border: 1px solid black;

}

.kava-img {
    top: -33%;
    left: 33%;
}

.yoga-img {
    bottom: -30%;
    right: 44%;
    padding: 1rem;
}

#lifestyle img.half {
    margin-bottom: 4rem;
    margin-top: 2rem;
}
#lifestyle{
    margin-top: 7.5rem;
}
div.center .shoo-bottom {
    margin-bottom: 3rem;
}

.notebook-bg .btr-sticky {
    scale: 0.4;
}


.scale-down {
    scale: 0.8;
}

.folder-bg {
    top: -9%;
    height: auto;
}

img.column-full-pad.shoo-top {
    margin-top: 1rem;
}

.stuff-move {
    scale: 0.6;
    top: 8%;
    left: -3%;

}

#design .shoo-top-bottom {
    scale: 0.9;
    z-index: 4;
    margin-bottom: 4rem
}

.chair {
    top: 25%;
    left: 10%;
    z-index: 1;
}



.pink-folder,
.blue-folder,
.yellow-folder,
.brown-folder,
.white-folder {
    scale: 0.5;
    transition: transform 0.3s ease;

}

.folder-nav a:hover {
    transform: scale(1.1);

}

.pink-folder {
    margin-top: 10rem;

}

.blue-folder {
    margin-bottom: 7rem;

}

.yellow-folder {}

.brown-folder {
    margin-bottom: 12rem;

}

.white-folder {
    margin-bottom: 12rem;
}

header .mobile-only {
    display: none;
}

/* Articles */
.notebook-text{
    display: flex;
    width: 30%;
    font-family: "Special Elite", system-ui;
    top: 77px;
    margin-left: 10px;
    line-height: 1.4;
    flex-direction: column;
    gap: 13px;
}
.folder-text {
    position: absolute;
    top: 30%;
    z-index: 50;
    max-width: 40%;
    padding: 0.6rem;
    left: 13%;
    line-height: 26px;
    border: 0.5 solid black;
    background-color: #F9F6ED;
}

.folder-text:hover {
    animation: wiggle 0.3s ease;
}

.folder-text p {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-size: 20px;
}

.folder-img {
    position: absolute;
    top: -22%;
    left: 18%;
    scale: 0.47;
    padding: 1rem;
}

.container a.half {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.container a.half:hover {
    transform: scale(1.05);
}

.folder-img.landscape {
    top: -5%;
}

div.container a:last-of-type {
    margin-bottom: 4rem;
}

.life-circle {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.tablet-only {
    display: none;
}

.old-window{
    margin-top: 68px;
}
.fashiondesktop img{
    margin-left: auto;
    margin-right: auto;
    width: 760px;
    margin-top: 6rem;
}
.fashionmobile img{
    display: none;
}
@keyframes wiggle {
    0% {
        transform: rotate(-2deg);
    }

    50% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(-1deg);
    }
}

@keyframes rotateFadeIn {
    from {
        opacity: 0;
        transform: rotate(-360deg);
        /* start rotated */
    }

    to {
        opacity: 1;
        transform: rotate(0deg);
        /* end upright */
    }
}

.rotate-fade-in {
    animation: rotateFadeIn 2s ease-out forwards;
}

#power .folder-bg {
    top: -16%;
}
.chatimg img{
    height:74px;
    width:auto;
}
#fashionContainer{
    margin: 0 auto;
}
/* Tablete */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .tablet-only {
        display: flex;
    }
    .fashiondesktop {
        padding-top: 100px;
    }
    .designDesktop{
        padding-top: 150px;
    }
    .notebook-text{
        display: flex;
        width: 70%;
    }
    .featuredArticles {
        min-height: 350px;
    }
    .pink-folder,
    .blue-folder,
    .yellow-folder,
    .brown-folder,
    .white-folder {
        scale: 0.9;
        transition: transform 0.3s ease;

    }

    #lifestyle{
        margin-top: 0;
    }
    .kava-img {
        left: 55%;
        scale: 0.5;
        left: -100px;
        top: 50px;
    }

    .folder-text {
        top: 33%;
        line-height: 30px;
    }

    .folder-text p {
        font-size: 25px;
    }

    .tablet-chat {
        margin-top: 10rem;
        margin-right: 0rem;
    }

    .chat-bubble {
        margin-bottom: 0rem;
    }

    .life-circle {
        margin-top: 7rem;
        scale: 0.8;
    }

    .models-mobile {
        scale: 0.8;
        margin-top: 1rem;
        margin-right: -5rem;
    }

    .shoo-top {
        margin-top: 0rem;
    }

    section#power.shoo-top {
        margin-top: 0rem;
    }

    .fashiondesktop img{
        max-width: 90%;
    }
    
}

@media (min-aspect-ratio: 16/10) {
    .kava-img { top: -90px; } /* Standard landscape */
}

@media (min-aspect-ratio: 21/9) {
    .kava-img { top: 80px; } /* Ultra-wide */
}
@media screen and (min-width: 1800px) {
    footer{
        padding-top: 40px;
    }
}
/* Mobile */
@media screen and (max-width: 768px) {
    
    /* Images */
    .hero-photo {
        height: clamp(500px, 70vh, 1000px);
    }
    .desktop-tablet-only {
        display: none;
    }
    nav{
        height: inherit;
    }
    .featuredArticles {
        min-height: 280px;
        margin-bottom: -2px;
        margin-top: -60px;
        z-index: -2;
        padding-top: 60px;
    }
    .folder{
        scale: 0.6;
        transition: transform 0.3s ease;
    }
    .folder img{
        max-height: 100%;
    }
    .pink-folderMobile {
        margin-left: clamp(280px, 60vw, 100vw);
    }

    .blue-folderMobile {
        margin-right: 0rem; 
        margin-left: clamp(100px, 25vw,68vw);
    }
    .yellow-folderMobile {
        margin-left: clamp(195px, 43vw,90vw);
        margin-top: 0px;
    }
    .brown-folderMobile {
        margin-left: clamp(60px, 15vw,48vw);
    }
    .white-folderMobile {
        margin-right: 8rem;
        transform: scaleY(1.14);
    }
    .fashionmobile img{
        display: block;
        margin-top: 4rem;
    }
    .fashionmobile{
        padding-top: 50px;
        padding-bottom: 50px;
        width: 80%;
        margin: 0 auto;
    }
    .fashiondesktop img{
        display: none;
    }
    .beautyContainer{
        padding-top: 25vw;
    }
    .notebook-bg {
        background-image: url("../assets/placeholders/notebook-bg-mobile.png");
        background-image: url("../assets/placeholders/optimized/notebook-bg-mobile.webp");
        height: 95vh;
    }
    .chat{
        display: none;
    }
    .chatMobile{
        display: flex;
        width: 90%;
    }
    footer{
        padding-top: 0px;
        padding-bottom: 40px;
    }
    .chatimg img{
        height: 44px;
        width: auto;
    }
    .notebook-text{
        display: none;
    }
    .header-text {
        top: 49%;
        right: -8%;
        line-height: 40px;
    }

    div.container a:last-of-type {
        margin-bottom: 2rem;
    }

    .fancy {
        font-size: 3rem;
    }

    .normal-text {
        margin-left: 7rem;
        font-size: 1.7rem;
    }

    section.shoo-top {
        margin-top: 0rem;
    }

    #power.shoo-top {
        margin-top: -1rem;
    }

    #design .shoo-top-bottom {
        margin-top: 4rem;
        margin-bottom: 4rem;
        width: 100%;
    }

    /* articles */
    .folder-text {
        line-height: 14px;
        max-width: 50%;
        padding: 8px;
        top: 33%;
        left: 10%;
    }

    .folder-nav a:hover {
        transform: translateY(-36px);
    }

    .folder-text p {
        font-size: 16px;
    }

    #lifestyle{
        margin-top: 0;
    }
    .pink-folder,
    .blue-folder,
    .yellow-folder,
    .brown-folder,
    .white-folder {
        scale: 0.6;
        transition: transform 0.3s ease;

    }
    .notebook-bg .btr-sticky {
        scale: 1;
        left: 18%;
    }

    .kava-img {
        z-index: 30;
    }

    .models-mobile {
        margin-top: 2.3rem;
        /* margin-bottom: 3rem; */
    }

    header .mobile-only {
        display: inherit;
    }
    .mobile-only.folder{
        max-height: 80vh;
        margin-bottom: 0 !important;
    }
    .shoo-top-chat {
        margin-top: 5rem;
    }

    .bubble-right:first-of-type {
        margin-right: 0;
    }

    .bubble-left .thirty {
        width: 45%;
    }

    .chat-bubble {
        margin-bottom: 0.5rem;
    }

    #beauty a:last-of-type {
        margin-top: -1px;

    }

    .folder-img.landscape {
        top: -1%;
    }

    .folder-img {
        scale: 0.5;
        padding: 1rem;
    }

    .bag-move {
        top: 40%;
        left: 6%;
    }

    #moda div:last-of-type {
        margin-bottom: -2rem;
    }

    .stuff-move {
        top: 20%;
        scale: 0.83;
        left: 6%;
    }

    #moda div .mobile-only img {
        margin-bottom: 4rem;
    }

}


@media (aspect-ratio: 2.7/1) and (max-width: 768px) {    
    .notebook-bg {
        height: 75vh;
    }
}

@media (min-aspect-ratio: 3.14/1) {
    .notebook-bg {
        height: 85vh;
    }
}

@media (min-aspect-ratio: 4.03/1) {
    .notebook-bg {
        height: 110vh;
    }
}

footer{
    z-index: 100;
    background-color: white;
}