/*
* CSS
* by TG Studio Marijan
*/

/* Basics */

.main-container {
    background-image: url(img/duotone_background.png);
    background-size: 100%;
}

body {
    font-family: 'Domine', serif;
    font-size: 20px;
}

h2 {
    font-family: 'Domine', serif;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 35px;
    margin-top: 45px;
}

p {
    font-family: 'Domine', serif;
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 28px;
}

.horizontal-pad {
    padding-left: 24px;
    padding-right: 24px;
}


/* Navigation */

.topnav {
    padding: 15px 24px;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    background-color: #121212;
    margin-bottom: 1px;
    background-image: url(img/vintage_pattern.png);
    background-size: 256px;
}
.topnav .center-text {
    z-index: 60;
    position: relative;
}
.topnav::before {
    content: ' ';
    z-index: 51;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    opacity: .9;
}
.textlogo > div {
    width: 24px;
    height: 3px;
    background-color: white;
    margin: 8px 16px;
    display: inline-flex;
}

/* .topnav .container {
    justify-content: space-between;
} */

.uppercase {
    text-transform: uppercase;
}

.navtext {
    font-family: 'Noto Sans JP', sans-serif;

}

.dull-text {
    font-family: 'Noto Sans JP', sans-serif;

}

.textlogo {
    font-family: 'Domine', serif;
    font-size: 32px;
    font-weight: 700;
    padding-top: 5px;
}

/* Articles */

.margin-top {
    margin-top: 58px;
}

.margin-bot {
    margin-bottom: 28px;
}

section img {
    object-fit: cover;
}

.cta {
    border: none;
    color: #baab8f;
    font-weight: 300;
    padding: 0;
    font-size: 22px;
    border-bottom: 1px solid #baab8f;
}

.cta:hover {
    color: #252525;
    border-bottom: 1px solid black;
}

.button-48 {
    appearance: none;
    background-color: #FFFFFF;
    border-width: 0;
    box-sizing: border-box;
    color: #baab8f;
    border: 2px solid #baab8f;
    /* text-decoration: underline; */
    cursor: pointer;
    display: inline-block;
    font-family: 'Domine', serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 0.8em 2.2em;
    position: relative;
    text-align: center;
    text-rendering: geometricprecision;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button-48:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #baab8f;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}

.button-48:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
    background-color: #FFFFFF;
}

.button-48:hover {
    color: #FFFFFF;
}

.button-48 span {
    z-index: 1;
    position: relative;
}



/* FOOTER */

footer {
    margin-top: 58px;
}

.footer-logo {
    height: 80px;
    width: 120px;
    margin: 16px;
    object-fit: contain;
    object-position: center center;
}

.footer-text {
    max-width: 935px;
    font-weight: 100;
    margin-top: 15px;
}

@media screen and (max-width: 767px) {
    .mobile-side-pad {
        padding: 0px 4vw;
    }
    /* section img {
        height: 40vh;
        object-fit: cover;
    } */

    h2 {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .cta,
    .button-48 {
        font-size: 18px;
    }

    .footer-text {
        max-width: 750px;
    }
}

/* Form */

.text-container {
    max-width: 660px;
}
#applications {
    padding-top: 30px;
}
#applications label {
    font-weight: 700;
    margin-bottom: 16px;
    width: 80%;
    line-height: 28px;
    margin-top: 32px;
}
#applications label.ruleslabel {
    margin-top: 0px;
    margin-bottom: 32px;
}
#applications input, #applications textarea {
    outline: none;
    border: none;
    border-bottom: 1px solid #c8c8c8;
    background-color: transparent;
    font-size: 24px;
    padding-bottom: 6px;
    margin-bottom: 16px;
    font-family: 'Domine', serif;
}
#applications textarea {
    height: 150px;
}
#applications input[type=radio] {
    display: none;
}
#applications input[type=radio] ~ label {
    display: block;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 4px;
    cursor: pointer;
    font-weight: 400;
    position: relative;
    z-index: 5;
    width: auto;
}
#applications input[type=radio] ~ label::before {
    content: ' ';
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    top: -2px;
    left: 0px;
    height: 30px;
    width: 5px;
    background-color: #252525;
    opacity: .5;
    z-index: -1;
}
#applications input[type=radio] ~ label:hover::before {
    width: 7px;
    opacity: .7;
}
#applications input[type=radio]:checked ~ label::before {
    width: 100%;
    opacity: 1;
}
#applications input[type=radio]:checked ~ label {
    color: white;
}
.smaller-text {
    font-size: 16px;
    opacity: .6;
}
#error-msg {
    color: #ae3737;
    margin-top: 16px;
}
#applications input[type="checkbox"] {
    margin-right: 8px;
    position: relative;
    bottom: -1.5px;
}
label a, p a {
    text-decoration: underline;
}
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #baab8f;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}